.img1{
    background: linear-gradient(
        rgba(35,43,56,0.9),
        rgba(35,43,56,0.9)
    ), url('images/contact1.jpg');
    height: 60vh;
    width: 100%;
    /* border: 2px solid red; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img2{
    background: linear-gradient(
        rgba(35,43,56,0.9),
        rgba(35,43,56,0.9)
    ), url('images/contact2.jpg');
    height: 60vh;
    width: 100%;
    /* border: 2px solid red; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img3{
    background: linear-gradient(
        rgba(35,43,56,0.9),
        rgba(35,43,56,0.9)
    ), url('images/contact3.jpg');
    height: 60vh;
    width: 100%;
    /* border: 2px solid red; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
    background-color: black;
}