{% extends 'shop/basic.html' %}
{% block title %} Home {% endblock %}
{% block css  %}
<style>
  .col-md-3 {
    display: inline-block;
    margin-left: -4px;
    /* height: 300% !important; */
  }
  .carousel-control-next-icon,.carousel-control-prev-icon {
  
   position: absolute;
   z-index: 1;
   background-color: black;
   /* border: 2px solid red; */
}
.carousel-control-prev , .carousel-control-next{
    /* border: 2px solid red; */
    z-index: 0;
  
}
.container{
  position: relative;
  top: 0;
  z-index: 1;
}
.card{
  position: relative;
  z-index: 12;
  cursor: pointer;
  padding-bottom:20px ;

}
.raja{
  position: relative;
  transition: all .3s ease-in-out;

  /* box-sizing: border-box; */
}
.raja:hover{
  transform: scale(1.1);
}
.card{
  height: 300% !important;
}






  h2{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 4px 0;
    text-align: center;
  }


</style>
{% endblock %}
{% block body %}
{% load static %}




{% for product , range , nslide in allproduct %}
<div class="container">
<h2 class="my-5"> {{product.0.category}} </h2>
</div>
  <div id="carouselExampleIndicators{{forloop.counter}}" class="carousel slide" data-bs-ride="carousel">
    <div class="container my-5">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators{{forloop.counter}}" data-bs-slide-to="0" class="active"></li>
      {% for i in range %}
      <li data-bs-target="#carouselExampleIndicators{{forloop.parentloop.counter}}" data-bs-slide-to="{{i}}"></li>
      {% endfor %}
    </ol>
    <div class="carousel-inner no-padding">



      <div class="carousel-item active">
        <!-- <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width: 100%;">
            <img id="card_image" src="/media/{{product.0.image}}"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> {{product.0.product_name}} </h5>
              <p class="card-text"> {{product.0.desc}} </p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div> -->

        {% for i in product|slice:"0:" %}

        <div class="col-xs-3 col-sm-3 col-md-3 px-md-3">
          <div class="card" id="card{{i.id}}" style="width: 100%;">
            <img id="card_image" src="/media/{{i.image}}"   class="img-thumbnail" alt="...">
            <div class="card-body">
              <h5 class="card-title"> {{i.product_name}} </h5>
              <p class="card-text"> {{i.desc}} </p>
              <button href="#" id="pr{{i.id}}" class="btn btn-primary cardbtn">Add to cart</button>
              <a href="/shop/productview/{{i.id}}"><button href="#" id="qv{{i.id}}" class="btn btn-primary cardbtn mx-3">Quick View</button></a> 
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div>
      <div class="carousel-item">
        {% endif %}
        {% endfor %}
      </div>



        
        
  
    </div>
   
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators{{forloop.counter}}" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators{{forloop.counter}}" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>

</div>
{% endfor %}
{% endblock %}

{% block js %}
<script>
  console.log('hello world');
$('.card').mouseover(function(){
  let id=this.id
  // console.log(id)
  $('#'+id).addClass("raja")
});

if(localStorage.getItem('cart')==null){
  var cart={};
}else{
  cart=JSON.parse(localStorage.getItem('cart'))
  document.getElementById('cardItem').innerHTML=Object.keys(cart).length
}
$('.cardbtn').click(function(){
  console.log('clicked')
  idstr=this.id.toString()
  console.log(idstr)
  if(cart[idstr]!=undefined){
    cart[idstr]=cart[idstr]+1;
  }else{
    cart[idstr]=1
    
  }
  document.getElementById('cardItem').innerHTML=Object.keys(cart).length
  console.log(cart)
  localStorage.setItem('cart',JSON.stringify(cart))
  
})
var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})

document.getElementById("popcard").setAttribute('data-bs-content','<h5>Card</h5>')



</script>
{% endblock %}